.bg{
    background:linear-gradient(to right, rgb(178, 61, 194), rgb(218, 37, 142));
    width: 950px;
    border: 100px;
    padding: 60px;
    margin: 100px;
    height: 450px;

  }

  .App{
    background:linear-gradient(to right, rgb(175, 124, 160), rgb(175, 124, 160));
      width: 500px;
      border: 15px;
      padding: 50px;
      margin: 50px;
      text-align: center;
      height: 300px;
      border-radius: 25px;
      box-shadow: rgba(0,0,0,0.8) 0 0 10px;

    }   



.App {
  font-family: sans-serif;
  text-align: center;
}

.button{
  background-color: rgb(11, 158, 23);
  color:white;
}
